<?xml version="1.0" encoding="utf-8"?>
<config addfieldprefix="Blc\Component\Blc\Administrator\Field">
  <fieldset label="COM_BLC_FIELD_BLC_NAME" name="blc">
    <field name="quickicon" default="system_quickicon" type="quickicon" label="COM_BLC_FIELD_QUICKICON_LBL" description="COM_BLC_FIELD_QUICKICON_DESC"/>
    <field name="throttle" filter="integer" default="60" type="number" label="COM_BLC_FIELD_THROTTLE_LBL" description="COM_BLC_FIELD_THROTTLE_DESC"/>
    <field name="token" filter="string" type="text" default="" label="COM_BLC_FIELD_TOKEN_LBL" description="COM_BLC_FIELD_TOKEN_DESC"/>
    <field name="live_site" type="text" default="" label="COM_BLC_FIELD_LIVE_SITE_LBL" description="COM_BLC_FIELD_LIVE_SITE_DESC"/>
    <field name="internal_hosts" type="textarea" default="" label="COM_BLC_FIELD_INTERNAL_HOSTS_LBL" description="COM_BLC_FIELD_INTERNAL_HOSTS_DESC"/>
    <field name="lockLevel" type="radio" label="COM_BLC_FIELD_LOCKLEVEL_LBL" default="1" description="COM_BLC_FIELD_LOCKLEVEL_DESC" filter="options">
      <option value="1">COM_BLC_FIELD_LOCKLEVEL_1_OPTION</option>
      <option value="2">COM_BLC_FIELD_LOCKLEVEL_2_OPTION</option>
      <option value="5">COM_BLC_FIELD_LOCKLEVEL_5_OPTION</option>
    </field>
    <field name="resumeTask" type="radio" label="COM_BLC_FIELD_RESUMETASK_LBL" description="COM_BLC_FIELD_RESUMETASK_DESC" default="1" layout="joomla.form.field.radio.switcher" filter="integer">
      <option value="0">JOff</option>
      <option value="1">JOn</option>
    </field>
    <field name="info" type="Info" tag="p" class="Blc\Component\Blc\Administrator\Extension\BlcComponent"/>
  </fieldset>
  <fieldset label="COM_BLC_FIELD_GLOBAL_NAME" name="global" description="COM_BLC_PLUGIN_GLOBAL_DESC">
    <field name="access" type="radio" label="COM_BLC_FIELD_ACCESS_LBL" default="1" layout="joomla.form.field.radio.switcher" filter="integer" description="COM_BLC_FIELD_ACCESS_DESC">
      <option value="0">JOff</option>
      <option value="1">JOn</option>
    </field>
    <field name="published" type="radio" label="COM_BLC_FIELD_PUBLISHED_LBL" default="1" layout="joomla.form.field.radio.switcher" filter="integer" description="COM_BLC_FIELD_PUBLISHED_DESC">
      <option value="0">JOff</option>
      <option value="1">JOn</option>
    </field>
    <field name="onsave" type="list" label="COM_BLC_FIELD_ONSAVE_LBL" default="delete" description="COM_BLC_FIELD_ONSAVE_DESC">
      <option value="parse">COM_BLC_FIELD_ONSAVE_PARSE_OPTION</option>
      <option value="delete">COM_BLC_FIELD_ONSAVE_DELETE_OPTION</option>
      <option value="nothing">COM_BLC_FIELD_ONSAVE_NOTHING_OPTION</option>
    </field>
    <field name="ondelete" type="list" label="COM_BLC_FIELD_ONDELETE_LBL" default="delete" description="COM_BLC_FIELD_ONDELETE_DESC">
      <option value="delete">COM_BLC_FIELD_ONDELETE_DELETE_OPTION</option>
      <option value="nothing">COM_BLC_FIELD_ONDELETE_NOTHING_OPTION</option>
    </field>
    <field name="deleteonsavepugin" filter="integer" default="1" type="radio" layout="joomla.form.field.radio.switcher" label="COM_BLC_FIELD_DELETEONSAVEPUGIN_LBL" description="COM_BLC_FIELD_DELETEONSAVEPUGIN_DESC">
      <option value="0">JOff</option>
      <option value="1">JOn</option>
    </field>
    <field name="onstatechange" type="textarea" label="COM_BLC_FIELD_ONSTATECHANGE_LBL" default="Since batch changes might affect a lot of articles this will leave the parsed data untouched. This will be corrected during the next parse. " readonly="true" description="COM_BLC_FIELD_ONSTATECHANGE_DESC">
    </field>
    <field name="info" type="Info" tag="p" class="Blc\Component\Blc\Administrator\Extension\BlcComponent"/>
  </fieldset>
  <fieldset label="COM_BLC_FIELD_EXTRACTING_NAME" name="extracting">
    <field name="extract_http_limit" filter="integer" default="10" type="number" label="COM_BLC_FIELD_EXTRACT_HTTP_LIMIT_LBL" description="COM_BLC_FIELD_EXTRACT_HTTP_LIMIT_DESC"/>
    <field name="extract_cli_limit" filter="integer" default="100" type="number" label="COM_BLC_FIELD_EXTRACT_CLI_LIMIT_LBL" description="COM_BLC_FIELD_EXTRACT_CLI_LIMIT_DESC"/>
    <field name="href" type="radio" label="COM_BLC_FIELD_HREF_LBL" default="1" description="COM_BLC_FIELD_HREF_DESC" layout="joomla.form.field.radio.switcher" filter="integer">
      <option value="0">JOff</option>
      <option value="1">JOn</option>
    </field>
    <field name="img" type="radio" label="COM_BLC_FIELD_IMG_LBL" default="1" description="COM_BLC_FIELD_IMG_DESC" layout="joomla.form.field.radio.switcher" filter="integer">
      <option value="0">JOff</option>
      <option value="1">JOn</option>
    </field>
    <field name="embed" type="radio" label="COM_BLC_FIELD_EMBED_LBL" default="0" description="COM_BLC_FIELD_EMBED_DESC" layout="joomla.form.field.radio.switcher" filter="integer">
      <option value="0">JOff</option>
      <option value="1">JOn</option>
    </field>
    <field name="iframe" showon="embed:1" type="radio" label="COM_BLC_FIELD_IFRAME_LBL" default="0" description="COM_BLC_FIELD_IFRAME_DESC" layout="joomla.form.field.radio.switcher" filter="integer">
      <option value="0">JOff</option>
      <option value="1">JOn</option>
    </field>
    <field name="aimy" showon="embed:1" type="radio" label="COM_BLC_FIELD_AIMY_LBL" default="0" description="COM_BLC_FIELD_AIMY_DESC" layout="joomla.form.field.radio.switcher" filter="integer">
      <option value="0">JOff</option>
      <option value="1">JOn</option>
    </field>
    <field name="src" showon="embed:1" type="radio" label="COM_BLC_FIELD_SRC_LBL" default="0" description="COM_BLC_FIELD_SRC_DESC" layout="joomla.form.field.radio.switcher" filter="integer">
      <option value="0">JOff</option>
      <option value="1">JOn</option>
    </field>
    <field name="info" type="Info" tag="p" class="Blc\Component\Blc\Administrator\Extension\BlcComponent"/>
  </fieldset>
  <fieldset label="COM_BLC_FIELD_CHECKERS_NAME" name="checkers">
    <field name="check_threshold" filter="integer" default="168" type="number" label="COM_BLC_FIELD_CHECK_THRESHOLD_LBL" description="COM_BLC_FIELD_CHECK_THRESHOLD_DESC"/>
    <field name="check_thresholdUnit" type="list" label="COM_BLC_FIELD_TIME_UNIT_LBL" description="COM_BLC_FIELD_TIME_UNIT_DESC" default="hour" validate="options">
      <option value="hour">COM_BLC_FIELD_TIME_UNIT_HOUR_OPTION</option>
      <option value="day">COM_BLC_FIELD_TIME_UNIT_DAY_OPTION</option>
      <option value="week">COM_BLC_FIELD_TIME_UNIT_WEEK_OPTION</option>
      <option value="month">COM_BLC_FIELD_TIME_UNIT_MONTH_OPTION</option>
    </field>
    <field name="broken_threshold" filter="integer" default="24" type="number" label="COM_BLC_FIELD_BROKEN_THRESHOLD_LBL" description="COM_BLC_FIELD_BROKEN_THRESHOLD_DESC"/>
    <field name="broken_thresholdUnit" type="list" label="COM_BLC_FIELD_TIME_UNIT_LBL" description="COM_BLC_FIELD_TIME_UNIT_DESC" default="hour" validate="options">
      <option value="hour">COM_BLC_FIELD_TIME_UNIT_HOUR_OPTION</option>
      <option value="day">COM_BLC_FIELD_TIME_UNIT_DAY_OPTION</option>
      <option value="week">COM_BLC_FIELD_TIME_UNIT_WEEK_OPTION</option>
      <option value="month">COM_BLC_FIELD_TIME_UNIT_MONTH_OPTION</option>
    </field>
    <field name="recheck_count" filter="integer" type="number" default="10" label="COM_BLC_FIELD_RECHECK_COUNT_LBL" description="COM_BLC_FIELD_RECHECK_COUNT_DESC"/>
    <field name="check_http_limit" filter="integer" default="10" type="number" label="COM_BLC_FIELD_CHECK_HTTP_LIMIT_LBL" description="COM_BLC_FIELD_CHECK_HTTP_LIMIT_DESC"/>
    <field name="check_cli_limit" filter="integer" default="999" type="number" label="COM_BLC_FIELD_CHECK_CLI_LIMIT_LBL" description="COM_BLC_FIELD_CHECK_CLI_LIMIT_DESC"/>
    <field name="timeout_http" filter="integer" step="1" min="1" max="30" type="number" default="1" label="COM_BLC_FIELD_TIMEOUT_HTTP_LBL" description="COM_BLC_FIELD_TIMEOUT_HTTP_DESC"/>
    <field name="timeout_cli" filter="integer" step="1" min="1" max="30" type="number" default="1" label="COM_BLC_FIELD_TIMEOUT_CLI_LBL" description="COM_BLC_FIELD_TIMEOUT_CLI_DESC"/>
    <field name="warnings_enabled" type="radio" label="COM_BLC_FIELD_WARNINGS_ENABLED_LBL" default="1" description="COM_BLC_FIELD_WARNINGS_ENABLED_DESC" layout="joomla.form.field.radio.switcher" filter="integer">
      <option value="0">JOff</option>
      <option value="1">JOn</option>
    </field>
    <field name="head" showon="response:-1[OR]response:0" type="radio" label="COM_BLC_FIELD_HEAD_LBL" default="1" description="COM_BLC_FIELD_HEAD_DESC" layout="joomla.form.field.radio.switcher" filter="integer">
      <option value="0">JOff</option>
      <option value="1">JOn</option>
    </field>
    <field name="range" showon="response:-1[OR]response:0" type="radio" label="COM_BLC_FIELD_RANGE_LBL" default="1" description="COM_BLC_FIELD_RANGE_DESC" layout="joomla.form.field.radio.switcher" filter="integer">
      <option value="0">JOff</option>
      <option value="1">JOn</option>
    </field>
    <field name="follow" type="radio" label="COM_BLC_FIELD_FOLLOW_LBL" default="1" description="COM_BLC_FIELD_FOLLOW_DESC" layout="joomla.form.field.radio.switcher" filter="integer">
      <option value="0">JOff</option>
      <option value="1">JOn</option>
    </field>
    <field name="maxredirs" type="number" showon="follow:1" label="COM_BLC_FIELD_MAXREDIRS_LBL" default="5" description="COM_BLC_FIELD_MAXREDIRS_DESC" step="1" min="1" max="10" filter="integer"/>
    <field name="response" type="list" label="COM_BLC_FILTER_RESPONSE_LBL" default="0" description="COM_BLC_FIELD_RESPONSE_DESC" filter="integer">
      <option value="-1">COM_BLC_FIELD_RESPONSE_1_OPTION</option>
      <option value="0">COM_BLC_FIELD_RESPONSE_0_OPTION</option>
      <option value="1">COM_BLC_FIELD_RESPONSE_1_OPTION</option>
      <option value="2">COM_BLC_FIELD_RESPONSE_2_OPTION</option>
    </field>
    <field name="language" type="radio" label="COM_BLC_FIELD_LANGUAGE_LBL" default="0" description="COM_BLC_FIELD_LANGUAGE_DESC" layout="joomla.form.field.radio.switcher" filter="integer">
      <option value="0">COM_BLC_FIELD_LANGUAGE_0_OPTION</option>
      <option value="1">COM_BLC_FIELD_LANGUAGE_1_OPTION</option>
    </field>
    <field name="accept-language" showon="language:1" type="text" label="COM_BLC_FIELD_ACCEPT_LANGUAGE_LBL" default="en" description="COM_BLC_FIELD_ACCEPT_LANGUAGE_DESC"/>
    <field name="cookies" type="radio" label="COM_BLC_FIELD_COOKIES_LBL" default="1" description="COM_BLC_FIELD_COOKIES_DESC" layout="joomla.form.field.radio.switcher" filter="integer">
      <option value="0">JOff</option>
      <option value="1">JOn</option>
    </field>
    <field name="signature" type="signature" label="COM_BLC_FIELD_SIGNATURE_LBL" default="2" description="COM_BLC_FIELD_SIGNATURE_DESC"/>
    <field name="dynamicSecFetch" type="radio" label="COM_BLC_FIELD_DYNAMICSECFETCH_LBL" default="1" description="COM_BLC_FIELD_DYNAMICSECFETCH_DESC" layout="joomla.form.field.radio.switcher" filter="integer">
      <option value="0">JOff</option>
      <option value="1">JOn</option>
    </field>
    <field name="valid_ssl" type="radio" label="COM_BLC_FIELD_VALID_SSL_LBL" default="2" description="COM_BLC_FIELD_VALID_SSL_DESC" layout="joomla.form.field.radio.switcher" filter="integer">
      <option value="0">JOff</option>
      <option value="2">JOn</option>
    </field>
    <field showon="valid_ssl:2" name="sslversion" type="list" label="COM_BLC_FIELD_SSLVERSION_LBL" default="0" description="COM_BLC_FIELD_SSLVERSION_DESC">
      <option value="0">COM_BLC_FIELD_DEFAULT_OPTION</option>
      <option value="CURL_SSLVERSION_TLSv1_2">COM_BLC_FIELD_SSLVERSION_CURL_SSLVERSION_TLSV1_2_OPTION</option>
      <option value="CURL_SSLVERSION_TLSv1_3">COM_BLC_FIELD_SSLVERSION_CURL_SSLVERSION_TLSV1_3_OPTION</option>
    </field>
    <field showon="valid_ssl:2" name="cafilesource" type="list" label="COM_BLC_FIELD_CAFILESOURCE_LBL" default="" description="COM_BLC_FIELD_CAFILESOURCE_DESC">
      <option value="">COM_BLC_FIELD_DEFAULT_OPTION</option>
      <option value="Bundled">COM_BLC_FIELD_CAFILESOURCE_BUNDLED_OPTION</option>
      <option value="System">COM_BLC_FIELD_CAFILESOURCE_SYSTEM_OPTION</option>
      <option value="Custom">COM_BLC_FIELD_CAFILESOURCE_CUSTOM_OPTION</option>
    </field>
    <!-- there are three implementations of CURL in joomla, they don't agree on the name certpath cafile-->
    <field name="cafile" showon="cafilesource:Custom" type="text" label="COM_BLC_FIELD_CAFILE_LBL" default="" description="COM_BLC_FIELD_CAFILE_DESC"/>
    <field name="verbose" type="radio" label="COM_BLC_FIELD_VERBOSE_LBL" default="0" description="COM_BLC_FIELD_VERBOSE_DESC" layout="joomla.form.field.radio.switcher" filter="integer">
      <option value="0">JOff</option>
      <option value="1">JOn</option>
    </field>
    <field name="unkownprotocols" type="radio" label="COM_BLC_FIELD_UNKOWNPROTOCOLS_LBL" default="1" description="COM_BLC_FIELD_UNKOWNPROTOCOLS_DESC" layout="joomla.form.field.radio.switcher" filter="integer">
      <option value="0">COM_BLC_FIELD_SKIP_OPTION</option>
      <option value="1">COM_BLC_FIELD_UNKOWNPROTOCOLS_1_OPTION</option>
    </field>
    <field name="throttle_internal" filter="integer" default="1" type="number" label="COM_BLC_FIELD_THROTTLE_INTERNAL_LBL" description="COM_BLC_FIELD_THROTTLE_INTERNAL_DESC"/>
    <field name="throttle_external" filter="integer" default="15" type="number" label="COM_BLC_FIELD_THROTTLE_EXTERNAL_LBL" description="COM_BLC_FIELD_THROTTLE_EXTERNAL_DESC"/>
    <field name="throttle_cli" type="radio" label="COM_BLC_FIELD_THROTTLE_CLI_LBL" default="0" description="COM_BLC_FIELD_THROTTLE_CLI_DESC" layout="joomla.form.field.radio.switcher" filter="integer">
      <option value="0">COM_BLC_FIELD_SKIP_OPTION</option>
      <option value="1">COM_BLC_FIELD_THROTTLE_CLI_1_OPTION</option>
    </field>
    <field name="ignore_hosts" type="textarea" default="" label="COM_BLC_FIELD_IGNORE_HOSTS_LBL" description="COM_BLC_FIELD_IGNORE_HOSTS_DESC"/>
    <field name="ignore_hosts_action" type="radio" label="COM_BLC_FIELD_IGNORE_HOSTS_ACTION_LBL" default="1" description="COM_BLC_FIELD_IGNORE_HOSTS_ACTION_DESC" layout="joomla.form.field.radio.switcher" filter="integer">
      <option value="0">COM_BLC_FIELD_SKIP_OPTION</option>
      <option value="1">COM_BLC_FIELD_IGNORE_HOSTS_ACTION_1_OPTION</option>
    </field>
    <field name="ignore_paths" type="textarea" default="" label="COM_BLC_FIELD_IGNORE_PATHS_LBL" description="COM_BLC_FIELD_IGNORE_PATHS_DESC"/>
    <field name="ignore_paths_action" type="radio" label="COM_BLC_FIELD_IGNORE_PATHS_ACTION_LBL" default="1" description="COM_BLC_FIELD_IGNORE_PATHS_ACTION_DESC" layout="joomla.form.field.radio.switcher" filter="integer">
      <option value="0">COM_BLC_FIELD_SKIP_OPTION</option>
      <option value="1">COM_BLC_FIELD_IGNORE_PATHS_ACTION_1_OPTION</option>
    </field>
    <field name="ignore_redirects" type="textarea" default="" label="COM_BLC_FIELD_IGNORE_REDIRECTS_LBL" description="COM_BLC_FIELD_IGNORE_REDIRECTS_DESC"/>
    <field name="info" type="Info" tag="p" class="Blc\Component\Blc\Administrator\Extension\BlcComponent"/>
  </fieldset>
  <fieldset label="COM_BLC_FIELD_REPLACE_NAME" name="replace">
    <field name="replace_links" type="radio" label="COM_BLC_FIELD_REPLACE_LINKS_LBL" description="COM_BLC_FIELD_REPLACE_LINKS_DESC" default="0" layout="joomla.form.field.radio.switcher" filter="integer">
      <option value="0">JOff</option>
      <option value="1">JOn</option>
    </field>
    <field name="replace_igmtag" type="radio" label="COM_BLC_FIELD_REPLACE_IGMTAG_LBL" description="COM_BLC_FIELD_REPLACE_IGMTAG_DESC" default="0" layout="joomla.form.field.radio.switcher" filter="integer">
      <option value="0">JOff</option>
      <option value="1">JOn</option>
    </field>
    <field name="replace_internalimg" type="radio" label="COM_BLC_FIELD_REPLACE_INTERNALIMG_LBL" description="COM_BLC_FIELD_REPLACE_INTERNALIMG_DESC" default="0" layout="joomla.form.field.radio.switcher" filter="integer">
      <option value="0">JOff</option>
      <option value="1">JOn</option>
    </field>
    <field name="internal_sef" type="radio" label="COM_BLC_FIELD_INTERNAL_SEF_LBL" default="0" description="COM_BLC_FIELD_INTERNAL_SEF_DESC" layout="joomla.form.field.radio.switcher" filter="integer">
      <option value="1">COM_BLC_FIELD_INTERNAL_SEF_1_OPTION</option>
      <option value="0">COM_BLC_FIELD_INTERNAL_SEF_0_OPTION</option>
    </field>
    <field name="internal_xhtml" type="radio" label="COM_BLC_FIELD_INTERNAL_XHTML_LBL" default="1" description="COM_BLC_FIELD_INTERNAL_XHTML_DESC" layout="joomla.form.field.radio.switcher" filter="integer">
      <option value="0">JOff</option>
      <option value="1">JOn</option>
    </field>
    <field name="internal_absolute" type="radio" label="COM_BLC_FIELD_INTERNAL_ABSOLUTE_LBL" default="0" description="COM_BLC_FIELD_INTERNAL_ABSOLUTE_DESC" layout="joomla.form.field.radio.switcher" filter="integer">
      <option value="0">JOff</option>
      <option value="1">JOn</option>
    </field>
    <field name="urlencodefix" type="radio" label="COM_BLC_FIELD_URLENCODEFIX_LBL" default="1" description="COM_BLC_FIELD_URLENCODEFIX_DESC" layout="joomla.form.field.radio.switcher" filter="integer">
      <option value="0">COM_BLC_FIELD_URLENCODEFIX_0_OPTION</option>
      <option value="1">COM_BLC_FIELD_URLENCODEFIX_1_OPTION</option>
    </field>
    <field name="info" type="Info" tag="p" class="Blc\Component\Blc\Administrator\Extension\BlcComponent"/>
  </fieldset>
  <fieldset label="COM_BLC_FIELD_REPORT_NAME" name="report">
    <field name="report_freq" type="number" default="7" label="COM_BLC_FIELD_REPORT_FREQ_LBL" filter="float" description="COM_BLC_FIELD_REPORT_FREQ_DESC"/>
    <field name="report_limit" type="number" default="10" label="COM_BLC_FIELD_REPORT_LIMIT_LBL" filter="integer" description="COM_BLC_FIELD_REPORT_LIMIT_DESC"/>
    <field name="report_delta" type="radio" label="COM_BLC_FIELD_REPORT_DELTA_LBL" default="1" description="COM_BLC_FIELD_REPORT_DELTA_DESC" layout="joomla.form.field.radio.switcher" filter="integer">
      <option value="0">JOff</option>
      <option value="1">JOn</option>
    </field>
    <field name="report_broken" type="radio" label="COM_BLC_FIELD_REPORT_BROKEN_LBL" default="1" description="COM_BLC_FIELD_REPORT_BROKEN_DESC" layout="joomla.form.field.radio.switcher" filter="integer">
      <option value="0">JOff</option>
      <option value="1">JOn</option>
    </field>
    <field name="report_warning" type="radio" label="COM_BLC_FIELD_REPORT_WARNING_LBL" default="1" description="COM_BLC_FIELD_REPORT_WARNING_DESC" layout="joomla.form.field.radio.switcher" filter="integer">
      <option value="0">JOff</option>
      <option value="1">JOn</option>
    </field>
    <field name="report_redirect" type="radio" label="COM_BLC_FIELD_REPORT_REDIRECT_LBL" default="1" description="COM_BLC_FIELD_REPORT_REDIRECT_DESC" layout="joomla.form.field.radio.switcher" filter="integer">
      <option value="0">JOff</option>
      <option value="1">JOn</option>
    </field>
    <field name="report_parked" type="radio" label="COM_BLC_FIELD_REPORT_PARKED_LBL" default="1" description="COM_BLC_FIELD_REPORT_PARKED_DESC" layout="joomla.form.field.radio.switcher" filter="integer">
      <option value="0">JOff</option>
      <option value="1">JOn</option>
    </field>
    <field name="report_new" type="radio" label="COM_BLC_FIELD_REPORT_NEW_LBL" default="1" description="COM_BLC_FIELD_REPORT_NEW_DESC" layout="joomla.form.field.radio.switcher" filter="integer">
      <option value="0">JOff</option>
      <option value="1">JOn</option>
    </field>
    <field name="report_extract" type="radio" label="COM_BLC_FIELD_REPORT_EXTRACT_LBL" default="0" layout="joomla.form.field.radio.switcher" filter="integer" description="COM_BLC_FIELD_REPORT_EXTRACT_DESC">
      <option value="0">JOff</option>
      <option value="1">JOn</option>
    </field>
    <field name="report_check" type="radio" label="COM_BLC_FIELD_REPORT_CHECK_LBL" default="0" layout="joomla.form.field.radio.switcher" filter="integer" description="COM_BLC_FIELD_REPORT_CHECK_DESC">
      <option value="0">JOff</option>
      <option value="1">JOn</option>
    </field>
    <field name="recipients" type="subform" label="COM_BLC_FIELD_RECIPIENTS_LBL" description="COM_BLC_FIELD_RECIPIENTS_DESC" multiple="true">
      <form>
        <field name="recipient" type="user" label="COM_BLC_FIELD_RECIPIENT_LBL" default="" description="COM_BLC_FIELD_RECIPIENT_DESC"/>
      </form>
    </field>
    <field name="info" type="Info" tag="p" class="Blc\Component\Blc\Administrator\Extension\BlcComponent"/>
  </fieldset>
  <fieldset name="permissions" description="JCONFIG_PERMISSIONS_DESC" label="JCONFIG_PERMISSIONS_LABEL">
    <field name="rules" type="rules" component="com_blc" class="inputbox" filter="rules" validate="rules" description="JCONFIG_PERMISSIONS_DESC" label="JCONFIG_PERMISSIONS_LABEL" section="component"/>
  </fieldset>
</config>
